@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout-header {
  background-color: #f3f2f2;
}

.ant-layout-sider {
  background-color: #fbfbfb;
  border: #d8d8d8c2 1px solid;
  border-radius: 5px;
  padding: 1rem;
}

.ant-layout.ant-layout-has-sider {
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ant-layout {
  background-color: #fffdfd;
}

.ant-layout-content {
  margin-left: 2rem;
  padding: 2rem;
  border: #d8d8d8c2 1px solid;
  border-radius: 5px;
}

.picture-cover {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 992px) {
  .ant-layout-content {
    margin-left: 1rem;
  }

  .ant-layout-sider { 
    border: none;
    padding: 0;
  }

  .ant-layout.ant-layout-has-sider {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}